<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

    <form method="POST">
      <input type="radio" name = "data" value="1">Beds<br>
      <input type="radio" name = "data" value="2">ICU<br>
      <input type="radio" name = "data" value="3">Oxygen<br>
      <input type="radio" name = "data" value="4">Ventilator<br>
      <input type="radio" name = "data" value="5">Test<br>
      <input type="radio" name = "data" value="6">Remdesivir<br>
      <input type="radio" name = "data" value="7">Favipiravir<br>
      <input type="radio" name = "data" value="8">Tocilizumab<br>
      <input type="radio" name = "data" value="9">Plasma<br>
      <input type="radio" name = "data" value="10">Food<br>
      <input type="submit" value="submit">
    </form>
  </div>
  </body>
</html>